/* @colors
-------------------------------------------------- */
:root {
    --player-background: #252C33;
    --player-color: #9DA1A5;

    --info-background: color(var(--player-background) shade(20%));
    --info-border-color: color(var(--info-background) shade(20%));
    --info-outer-shadow-color: color(var(--player-background) tint(20%));
    --info-inner-shadow-color: color(var(--info-background) shade(10%));

    --progress-bar-border-color: #53A3AD;
    --progress-bar-fill-background: #53A3AD;
    --progress-bar-handle-border-color: #FAE7DA;
    --progress-bar-handle-background: #A9A19F;

    --button-color: var(--player-color);
    --button-background: var(--player-background);
    --button-border-color: color(var(--button-background) shade(20%));
    --button-outer-shadow-color: color(var(--player-background) tint(5%));
    --button-inner-shadow-color: color(var(--button-background) tint(10%));

    --button-active-color: color(var(--button-color) shade(10%));
    --button-active-background: color(var(--button-background) shade(10%));
}

/* @global
-------------------------------------------------- */
* {
    box-sizing: border-box;
}

body {
    background: var(--player-background);
    color: var(--player-color);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    overflow: hidden;
}

.emscripten {
    display: none;
}

/* @layout
-------------------------------------------------- */
.player {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    padding: 10px;
}

.audiofile-info-controls {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.audiofile-info {
    flex: 1;
}

.controls {
    flex: 0 30px;
}


/* @audiofile-info
-------------------------------------------------- */
.audiofile-info {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid var(--info-border-color);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1px var(--info-outer-shadow-color),
                inset 0 1px var(--info-inner-shadow-color);
    background: var(--info-background);
    margin-bottom: 10px;
}

.audiofile-info .name,
.audiofile-info .artist-album {
    flex: 1;
    white-space: nowrap;
    position: relative;
}

.audiofile-info .name .info-line-wrapper,
.audiofile-info .artist-album .info-line-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.audiofile-info .name .info-line,
.audiofile-info .artist-album .info-line {
    position: absolute;
    width: auto;
    height: 100%;
    min-width: 100%;
}

.audiofile-info .name:hover .info-line-wrapper,
.audiofile-info .artist-album:hover .info-line-wrapper {
    animation: horizontalBounceWrapper 5s linear infinite;
}

.audiofile-info .name:hover .info-line,
.audiofile-info .artist-album:hover .info-line {
    animation: horizontalBounceChild 5s linear infinite;
}

@keyframes horizontalBounceWrapper {
    0% {
        transform: none;
    }

    30% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(100%);
    }

    80% {
        transform: none;
    }
}

@keyframes horizontalBounceChild {
    0% {
        transform: none;
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    80% {
        transform: none;
    }
}

.audiofile-info .progress-bar {
    display: flex;
    flex: 0 13px;
    flex-direction: row;
}

.audiofile-info .progress-bar .bar {
    display: flex;
    flex: 2;
    border: 1px solid var(--progress-bar-border-color);
    border-radius: 6px;
    margin-right: 10px;
}

.audiofile-info .progress-bar .bar .filled {
    background: var(--progress-bar-fill-background);
    border-radius: 4px;
    position: relative;
    min-width: 3px;
}

.audiofile-info .progress-bar .bar .filled::after {
    content: '';
    border: 2px solid var(--progress-bar-handle-border-color);
    background: var(--progress-bar-handle-background);
    width: 1px;
    height: 17px;
    border-radius: 2px;
    position: absolute;
    top: -5px;
    right: 0;
}

.audiofile-info .progress-bar .time {
    line-height: 13px;
}


/* @controls
-------------------------------------------------- */
.controls {
    display: flex;
    flex-direction: row;
}

.controls .button {
    flex: 1;
    color: var(--button-color);
    border: 1px solid var(--button-border-color);
    background: var(--button-background);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    box-shadow: 0 1px var(--button-outer-shadow-color),
                inset 0 1px var(--button-inner-shadow-color);
    margin-right: 10px;
    border-radius: 3px;
}

.controls .button:last-child {
    margin-right: 0;
}

.controls .button:active {
    border-top-width: 2px;
    color: var(--button-active-color);
    background: var(--button-active-background);
    box-shadow: 0 1px var(--button-outer-shadow-color);
}

.controls .button:focus {
    outline: none;
    background: color(var(--button-background) shade(10%));
}
