/* @global
-------------------------------------------------- */
* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.emscripten {
    display: none;
}
