:root {
  --white: #FFF;
  --white-83: hsl(0, 0%, 83%);
  --gray-60: hsl(0, 0%, 60%);
  --gray-37: hsl(0, 0%, 40%);
  --gray-25: hsl(0, 0%, 25%);
  --gray-15: hsl(0, 0%, 15%);
  --black-9: hsl(0, 0%, 9%);
  --black: #000;

  --blue-75: hsl(217, 64%, 75%);
  --blue-60: hsl(217, 64%, 60%);
  --blue-40: hsl(217, 64%, 40%);
  --blue-25: hsl(217, 64%, 25%);

  --orange-75: hsl(43, 100%, 75%);
  --orange-60: hsl(43, 100%, 60%);
  --orange-40: hsl(43, 100%, 40%);
  --orange-25: hsl(43, 100%, 25%);

  --main-font-family: Fira sans, system-ui, sans-serif;
  --main-font-size: 14px;
}

* {
  box-sizing: border-box;
}

html, body {
  color: var(--white);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}

#app-container, .app {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

.title-bar, .player-bar {
  background: linear-gradient(180deg, var(--gray-25), var(--gray-15));
  border-top: 1px solid var(--gray-37);
  border-bottom: 1px solid var(--black-9);
  text-shadow: 0 1px 2px var(--black);
}

.title-bar {
  border-top: 1px solid var(--black); /* https://github.com/electron/electron/issues/13164 */
  height: 37px;
  text-align: center;
  line-height: 37px;
  -webkit-app-region: drag;
  flex: 0 0 auto;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.sidebar {
  flex: 0 0 auto;
  background: var(--gray-37);
  border-right: 1px solid var(--gray-20);
  padding: 15px;
  -webkit-user-select: none;
}

.sidebar-heading {
  font-size: 1.1rem;
  margin: 0 0 10px;
  font-weight: normal;
  font-variant: small-caps;
  color: var(--white-83)
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px;
}

.sidebar-list li {
  margin-bottom: 5px;
  padding-left: 10px;
}

.sidebar-list .sidebar-link {
  color: var(--white);
  text-decoration: none;
}

.sidebar-list .sidebar-link:hover {
  text-decoration: underline;
}

.sidebar-list .sidebar-link:active {
  color: var(--gray-60);
  outline: none;
}

.sidebar-entry .menu-button,
.sidebar-heading .menu-button {
  float: right;
  border: none;
  background: var(--gray-25);
  color: var(--white);
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
  border-radius: 4px;
}

.sidebar-entry .menu-button {
  visibility: hidden;
}

.sidebar-entry:hover .menu-button {
  visibility: visible;
}

.sidebar-entry:hover .menu-button:hover,
.sidebar-heading .menu-button:hover {
  color: var(--white-83);
}

.sidebar-entry:hover .menu-button:active,
.sidebar-heading .menu-button:active {
  color: var(--gray-60);
  outline: none;
}

.sidebar-entry:hover .menu-button:focus,
.sidebar-heading .menu-button:focus {
  outline: none;
}

.sidebar-entry .text-input-form {
  display: inline;
}

.sidebar-entry .text-input {
  border: none;
  background: transparent;
  outline: none;
  color: var(--white);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  padding: 0;
}

.sidebar-entry .entry-icon {
  margin-right: 5px;
  position: relative;
}

.sidebar-entry .icon-image {
  width: 16px;
  vertical-align: bottom;
}

.sidebar-entry .drag-handle {
  visibility: hidden;
  color: var(--white-83);
  font-size: 12px;
}

.sidebar-entry:hover .drag-handle {
  visibility: visible;
  cursor: pointer;
  position: relative;
  left: -5px;
}

.sidebar-entry .tooltip {
  position: absolute;
  margin: 10px 0 0;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid var(--gray-60);
  background: var(--gray-15);
  z-index: 100;
  top: 100%;
  width: 150px;
  transition: all .1s linear;
  box-shadow: 0px 5px 10px -3px var(--gray-15);
}

.sidebar-entry .tooltip .pip {
  width: 20px;
  padding-bottom: calc(20px / 1.41);
  position: absolute;
  top: -14px;
  left: 8px;
  overflow: hidden;
}

.sidebar-entry .tooltip .pip::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--gray-60);
  background: var(--gray-15);
  transform-origin: bottom right;
  transform: rotate(-45deg);
}

.sidebar-entry .icon-chooser .icon-button {
  background: transparent;
  border: none;
  padding: 8px;
  width: 32px;
  height: 32px;
  display: inline-block;
  color: var(--white);
}

.sidebar-entry .icon-chooser .icon-button:hover {
  background: var(--blue-60);
}

.sidebar-entry .icon-chooser .icon-button:active {
  background: var(--blue-40);
}

.file-browser {
  flex: 1;
  position: relative;
  -webkit-user-select: none;
  cursor: default;
  background: var(--black-9);
  display: flex;
  flex-direction: column;
}

.file-browser .path-segments {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: linear-gradient(
    180deg,
    var(--gray-37) 1px,
    var(--gray-25) 1px,
    var(--gray-15) 29px,
    var(--black-9) 29px
  );
  text-shadow: 0 1px 2px var(--black);
  flex: 0 0 30px;
}

.file-browser .path-segments .segment {
  flex: 0 0 auto;
  padding: 5px 10px 7px 7px;
}

.file-browser .path-segments .segment:hover {
  cursor: pointer;
  text-decoration: underline;
}

.file-browser .path-segments .segment:first-child {
  padding-left: 17px;
}

.file-browser .path-segments .separator {
  flex: 0 0 20px;
  width: 20px;
  padding-bottom: calc(20px / 1.41);
  position: relative;
  overflow: hidden;
}

.file-browser .path-segments .separator::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--gray-37);
  outline: 1px solid var(--black-9);
  transform-origin: 0 0;
  transform: rotate(45deg);
  background: linear-gradient(105deg, var(--gray-25), var(--gray-15));
}

.file-browser .path-segments .separator:nth-last-child(3),
.file-browser .path-segments .segment:nth-last-child(2) {
  background: linear-gradient(
    180deg,
    var(--blue-75) 1px,
    var(--blue-60) 1px,
    var(--blue-40) 29px,
    var(--blue-25) 29px
  );
}

.file-browser .path-segments .separator:last-child::after {
  border-top: 1px solid var(--blue-75);
  outline: 1px solid var(--blue-25);
  background: linear-gradient(
    105deg,
    var(--blue-60),
    var(--blue-40)
  );
}

.file-browser .entries {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
}

.file-browser .entries li {
  padding: 5px 10px;
}

.file-browser .entries .entry:nth-child(even) {
  background: var(--gray-15);
}

.file-browser .entries .icon {
  font-size: 18px;
  margin-right: 5px;
  width: 20px;
  text-align: center;
  display: inline-block
}

.file-browser .entries .icon .image-icon {
  vertical-align: middle;
  width: 16px;
}

.file-browser .entries .entry:hover,
.file-browser .entries .entry.current-entry:hover {
  background: var(--blue-60);
  cursor: pointer;
}

.file-browser .entries .entry:active,
.file-browser .entries .entry.current-entry:active {
  background: var(--blue-40);
  cursor: pointer;
}

.file-browser .entries .entry.current-entry {
  background: linear-gradient(180deg, var(--blue-60), var(--blue-40));
}

.console-icon {
  width: 16px;
  height: 16px;
  margin-bottom: 2px;
  vertical-align: text-bottom;
}

.player-bar {
  flex: 0 0 auto;
  padding: 5px 15px;
  min-height: 70px;
  -webkit-user-select: none;
  display: flex;
  flex-direction: row;
}

.current-song {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
}

.current-song-title,
.current-song-artist {
  height: 30px;
  line-height: 30px;
}

.current-song-title .image-icon {
  width: 16px;
  margin-right: 5px;
  vertical-align: middle;
}

.hover-scroll {
  position: relative;
  min-width: 100%;
}

.hover-scroll:hover .hover-scroll-parent {
  animation: bounce-parent 8s linear infinite;
  position: absolute;
  display: inline-block;
  min-width: 100%;
}

@keyframes bounce-parent {
  0% { left: 0; }
  37% { left: 100%; }
  50% { left: 100%; }
  87% { left: 0%; }
}

.hover-scroll:hover .hover-scroll-child {
  animation: bounce-child 8s linear infinite;
  display: inline-block;
  position: relative;
  min-width: 100%;
}

@keyframes bounce-child {
  0% { right: 0%; }
  37% { right: 100%; }
  50% { right: 100%; }
  87% { right: 0%; }
}

.player-controls {
  text-align: center;
  flex: 2;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.player-controls-buttons {
  display: flex;
  flex-direction: row;
}

.control-button {
  color: var(--white-83);
  font-size: 2rem;
  border: none;
  background: none;
  font-weight: bold;
  text-shadow: 0 1px 1px var(--black);
  cursor: pointer;
  flex: 1;
}

.control-button:hover {
  color: var(--gray-60);
}

.control-button:active {
  color: var(--gray-37);
  outline: none;
}

.control-button.disabled,
.control-button:disabled {
  color: var(--gray-25);
  cursor: pointer;
}

.control-button:focus {
  outline: none;
  text-shadow: 0 0 2px var(--blue-60);
}

.player-volume-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player-volume-container .volume-icon {
  display: block;
  flex: 0 0 auto;
  margin-right: 5px;
  font-size: 1.3rem;
}

.player-volume-container .slider {
  flex: 1;
}

.slider {
  background: #303030;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.3);
  height: 8px;
  border-radius: 4px;
  border: 1px solid #141414;
}

.slider .handle {
  background: #FFF;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: linear-gradient(180deg, #3f3f3f, #2f2f2f);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);
  border: 1px solid #000;
  cursor: pointer;
  margin-top: -4px;
}

.slider.disabled .handle {
  display: none;
}

.slider .bar-0 {
  background: #4a81d7;
  height: 100%;
  border-radius: 4px;
}

.seek-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 20px;
}

.seek-bar .current-time,
.seek-bar .duration {
  flex: 0 0 50px;
}

.seek-bar .current-time {
  text-align: right;
}

.seek-bar .duration {
  text-align: left;
}

.seek-bar .slider {
  flex: 1;
  margin: 0 15px;
}
