* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Fira sans, system-ui, sans-serif;
  font-size: 14px;
}

#app-container, .app {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

.title-bar, .player-bar {
  background: linear-gradient(180deg, #3f3f3f, #272727);
  border-top: 1px solid #5f5f5f;
  border-bottom: 1px solid #171717;
  color: #d4d4d4;
  text-shadow: 0 1px 2px #000;
}

.title-bar {
  height: 37px;
  text-align: center;
  line-height: 37px;
  -webkit-app-region: drag;
  flex: 0 0 auto;
}

.search-field-container {
  position: absolute;
  right: 15px;
  top: 9px;
  height: 19px;
  -webkit-user-select: all;
  -webkit-app-region: no-drag;
}

.search-field-container .icon {
  position: absolute;
  left: 3px;
  top: -9px;
  font-size: 12px;
  color: #e7e6e6;
}

.search-field {
  background: #303030;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.3);
  border-radius: 9px;
  border: 1px solid #141414;
  padding: 3px 5px 3px 20px;
  display: block;
  height: 100%;
  color: #e7e6e6;
}

.search-field:focus {
  outline: none;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.category-sidebar {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  background: #555555;
  border-right: 1px solid #333333;
  padding: 15px;
  -webkit-user-select: none;
  color: #e7e6e6;
}

.sidebar-link {
  cursor: pointer;
  flex: 0 0 auto;
  padding: 5px 0;
  text-align: left;
}

.sidebar-link:hover {
  color: #a9a9a9;
}

.category-list-heading {
  color: #a9a9a9;
  font-size: 1rem;
  margin-top: 0;
  font-weight: normal;
  flex: 0 0 auto;
}

.category-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  flex: 1;
}

.category-list-item {
  margin: 0 -15px;
  padding: 5px 15px 5px;
  cursor: pointer;
}

.category-list-item:hover {
  color: #a9a9a9;
}

.category-list-item .console-icon {
  margin-right: 5px;
}

.category-list-item.selected {
  background: #4a81d7;
  color: #FFF;
}

.file-browser {
  flex: 1;
  position: relative;
  -webkit-user-select: none;
  cursor: default;
  color: #FFF;
  background: #0f0f0f;
  display: flex;
  flex-direction: column;
}

.file-browser .path-segments {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: linear-gradient(180deg, #5f5f5f 1px, #4a4a4a 1px, #282828 29px, #171717 29px);
  text-shadow: 0 1px 2px #000;
  flex: 0 0 30px;
}

.file-browser .path-segments .segment {
  flex: 0 0 auto;
  padding: 5px 10px 7px 7px;
}

.file-browser .path-segments .segment:hover {
  cursor: pointer;
  text-decoration: underline;
}

.file-browser .path-segments .segment:first-child {
  padding-left: 17px;
}

.file-browser .path-segments .separator {
  flex: 0 0 20px;
  width: 20px;
  padding-bottom: calc(20px / 1.41);
  position: relative;
  overflow: hidden;
}

.file-browser .path-segments .separator::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #5f5f5f;
  outline: 1px solid #171717;
  transform-origin: 0 0;
  transform: rotate(45deg);
  background: linear-gradient(105deg, #4a4a4a, #282828);
}

.file-browser .path-segments .separator:nth-last-child(3),
.file-browser .path-segments .segment:nth-last-child(2) {
  background: linear-gradient(
    180deg,
    hsl(217, 64%, 75%) 1px,
    hsl(217, 64%, 60%) 1px,
    hsl(217, 64%, 40%) 29px,
    hsl(217, 64%, 25%) 29px
  );
}

.file-browser .path-segments .separator:last-child::after {
  border-top: 1px solid hsl(217, 64%, 75%);
  outline: 1px solid hsl(217, 64%, 25%);
  background: linear-gradient(
    105deg,
    hsl(217, 64%, 60%),
    hsl(217, 64%, 40%)
  );
}

.file-browser .entries {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
}

.file-browser .entries li {
  padding: 5px 10px;
}

.file-browser .entries li:nth-child(even) {
  background: #1d1d1d;
}

.file-browser .entries .icon {
  font-size: 18px;
  margin-right: 5px;
  width: 20px;
  text-align: center;
  display: inline-block
}

.file-browser .entries .icon .image-icon {
  vertical-align: middle;
  width: 16px;
}

.file-browser .entries .entry:hover {
  background: hsl(217, 64%, 60%);
  cursor: pointer;
}

.file-browser .entries .entry:active {
  background: hsl(217, 64%, 40%);
  cursor: pointer;
}

.library-table {
  border: none;

}

.library-header {
  border-right: 1px solid #151515;
}

.console-icon {
  width: 16px;
  height: 16px;
  margin-bottom: 2px;
  vertical-align: text-bottom;
}

.player-bar {
  flex: 0 0 auto;
  padding: 5px 15px;
  min-height: 70px;
  -webkit-user-select: none;
  display: flex;
  flex-direction: row;
}

.player-info {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
}

.player-info-title,
.player-info-artist {
  height: 30px;
  line-height: 30px;
}

.player-controls {
  text-align: center;
  flex: 2;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.control-button {
  color: #e2e2e2;
  font-size: 2rem;
  border: none;
  background: none;
  font-weight: bold;
  text-shadow: 0 1px 1px #000;
  cursor: pointer;
  flex: 1;
}

.control-button:hover {
  color: #a9a9a9;
}

.control-button:active {
  outline: none;
}

.control-button.disabled {
  color: #4a4a4a;
  cursor: pointer;
}

.player-volume-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player-volume-container .volume-icon {
  display: block;
  flex: 0 0 auto;
  margin-right: 5px;
  font-size: 1.3rem;
}

.player-volume-container .slider {
  flex: 1;
}

.slider {
  background: #303030;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.3);
  height: 8px;
  border-radius: 4px;
  border: 1px solid #141414;
}

.slider .handle {
  background: #FFF;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: linear-gradient(180deg, #3f3f3f, #2f2f2f);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);
  border: 1px solid #000;
  cursor: pointer;
  margin-top: -4px;
}

.slider.disabled .handle {
  display: none;
}

.slider .bar-0 {
  background: #4a81d7;
  height: 100%;
  border-radius: 4px;
}

.seek-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 20px;
}

.seek-bar .current-time,
.seek-bar .duration {
  flex: 0 0 50px;
}

.seek-bar .current-time {
  text-align: right;
}

.seek-bar .duration {
  text-align: left;
}

.seek-bar .slider {
  flex: 1;
  margin: 0 15px;
}
